{% extends 'flatpages/default.html' %}
{% load custom_filter %}

{% block title %}
Новость
{% endblock title %}

{% block content %}
<h4> {{ news.title|censor}}</h4>
<h5> {{ news.dateCreation|date:"d-m-Y" }}</h5>
<h5> {{ news.text|censor}}</h5>
<h5> {{ news.author }}</h5>

    <a href="{% url 'news_edit' news.id %}">
            <button>
                Редактировать
            </button>
        </a>
    <a href="{% url 'news_delete' news.id %}">
            <button>
                Удалить
            </button>
    </a>
{% endblock content %}
