<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load account %} <!-- Upload a tag that will allow us to receive a confirmation link -->
    <h1>Thank you for registering {{ user.username }}!</h1>
    <h3>Go to the <a href="{{ activate_url }}">this link</a> to activate your account on NewsPortal</h3>
     <!-- Insert the activation link -->
</body>
</html>